.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  text-align: center;
  margin: 4px;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 474px;
  height: 474px;
  margin: 0 auto;
  border: 2px dashed white;
}

.status {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.board-row {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, white, grey);
}

.title {
  text-align: center;
}

